* {
    margin: 0;
    padding: 0;
}

.home {
    color: #0fb7ff;
    font-size: 100px;
}

.service-card {
    margin-bottom: 20px;
    background-color: #000;
    border-radius: 20px;
}

.service-card img {
    background-color: #000;
    margin-top: 10px;
}

.card-body {
    background-color: black;
    border-radius: 20px;
}

.card {
    background-color: black;
    color: rgb(15, 183, 255);
    margin: 40px;
    border-radius: 20px;
    border: solid 2px rgb(15, 183, 255);
    box-shadow: 0 0 10px 3px rgb(134, 214, 249);
}

.card:hover {
    box-shadow: 0 0 20px 3px rgb(134, 214, 249);
}

/* immg {
    border-radius:20px ;
    text-align: center;
    height: 70px;
    width: 70px;
    border: #0fb7ff solid 2px;
    margin: 10px;
} */

h3{
    color: #0fb7ff;
    margin: 10px;
}

.programminglang img, .softwares img, .learning img{
    height: 100px;
    width: 100px;
    margin: 10px;
}

.programminglang, .softwares, .learning, .contactform{
    border: #0fb7ff solid 2px;
    border-radius: 20px;
    margin: 31px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    color: aquamarine;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
}
label {
    color: #0fb7ff;
    display: block;
    margin-bottom: 8px;
}
input, textarea {
    border: solid 2px #0fb7ff;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
button {
    background-color: #0fb7ff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #034663;
    color: black;
}

hr{
    background-color: #0fb7ff;
}

.socialmedia{
    border: solid 2px #0fb7ff;
    border-radius: 20px;
}

.socialmedia:hover{
    box-shadow: 0 0 20px 3px rgb(134, 214, 249);
}
.output {
    text-align:center;
  }
  
  /* Cursor Styling */
  
  .cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:#0fb7ff;
    animation-name:blink;
    animation-duration:2s;
    animation-iteration-count: infinite;
  }
  h3.cursor::after {
    height:24px;
    width:5px;
  }
  p.cursor::after {
    height:13px;
    width:6px;
  }
  
  @keyframes blink {
    0% {
      opacity:1;
    }
    49% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
  }